/*#5D5C61
#379683
#7395AE
557A95
#B1A296*/

body{
	margin: 0;
	background-color: #CCCCCC;
	font-family: 'Rubik', sans-serif;
	overflow: auto;
	box-sizing: border-box; 

}

#header{
	visibility: visible;
	position: sticky;
	top: 0;
	background-color: #CCCCCC;
}
h1{
	display: inline;
}
.nemu{
		position: sticky;

}
.menu{
	background-color: lightgreen;
}
.menu>ul{
	list-style-type: none;
	margin: 0;
	padding: 0; 
	background-color: #333;
	overflow: hidden;
	width: 100%;
}
li{
	float: left;
	border-right: 1px solid #bbb;
}
li a, .dropbtn{
	display: inline-block;
	padding: 10px;
	color: white;
	width: 10vw;
	text-align: center;
	text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
	background-color: #557a95; 
}
li.dropdown{
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	text-align: center;
	text-decoration: none;	
	z-index: 1;
}

.dropdown-content a {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}
/*.dropdown-content a:hover {background-color: #111;}
*/
.dropdown:hover .dropdown-content {
	display: block;

li:hover {
  background-color: #111;
}
li:last-child{
	 background-color: #111;
	 float: right;
}
.dropdown-content a:hover {background-color: #f1f1f1;}

}

.container{
	background: url("1.JPG") no-repeat center center;
	background-size: cover;
	margin: 0px;
	height: 90vh;

}
p{
	font-size: 2em;
	margin: 0;
	overflow: auto;
}

#Gallery{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0px;
	height: 90vh;

}
img{
	width: 500px;
}

#currentPic{
	width: 100%;
	height: auto;
	min-height: 50vh;
		background: url("1.JPG") no-repeat center center;
	background-size: contain;
}

.videos{
	display: flex;
	flex-direction: column;	
	align-items: center;
	background-color: #B1A296;
	margin-bottom: 1px;
}
.videos>p{
	font-size: 1.3em;
	padding: 5px;
}

footer>p{
	font-size: 1em;
}
footer{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}
h4{
	margin: 0;
}
.header:hover{
	visibility: collapse;
}

